/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


body {
  margin: 0 0;
  font-family: arial;
}

.yomtov, .parashat, .additional {
  background-color: cadetblue !important;
}

.check-date {
  background-color: pink !important;
}
